<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/styles.css" rel="stylesheet" />
    <title>Hashcoin</title>
  </head>
  <body>
    <header>
        <div class="header-element left-header-element">
          <div class="header-top-label">Total networth</div>
          <div class="header-number">1000000000</div>
        </div>
        <div class="header-element right-header-element">
            <div class="header-top-label">Profit per hour</div>
            <div class="header-number">1000000</div>
        </div>
    </header>
    <main>
        <div class="coin-container"></div>
    </main>
    <footer>
        <nav class="footer-nav">
            <div class="footer-nav-element nav-shop">shop</div>
            <div class="footer-nav-element nav-stats">stats</div>
            <div class="footer-nav-element nav-earn">earn</div>
            <div class="footer-nav-element nav-invite">invite</div>
            <div class="footer-nav-element nav-wallet">wallet</div>
        </nav>
    </footer>
  </body>
</html>
